.service-detail {
    width: 405px;
    border: 5 px solid gray;
    text-align: center;
}

.single-service {
    width: 405px;
    height: 525px;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 10px 10px 50px gray;
}

.service-detail .single-service img {
    width: 400px;
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
}

@media only screen and (max-width:"600px") {
    .service-detail {
        margin-bottom: 50px;
    }
}