.service-detail {
    width: 400px;
    padding: 10px;
    margin-right: 5px;
    border: 5 px solid gray;

}

.single-service {
    width: 410px;
    height: 514px;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 10px 10px 50px gray;
    padding: 10px;
}

.service-detail img {
    width: 400px;
    padding: 10px;
    border-radius: 10px;
}